# 1850 DATA: P INDIVIDUAL DATA

In [3]:
import pandas as pd

In [2]:
data_location = "/Volumes/External/1850_3-2/us1850c_usa.dat"

In [ ]:
df = pd.read_fwf(
    data_location, header=None,
    colspecs=[
        (0, 1),
        (1, 5),
        (5, 11),
        (11, 19),
        (19, 23),
        (31, 33),
        (33, 34),
        (34, 35),
        (35, 37),
        (37, 38),
        (38, 39),
        (39, 41),
        (41, 42),
        (42, 44),
        (44, 45),
        (45, 46),
        (46, 48),
        (48, 50),
        (50, 52),
        (52, 53),
        (53, 57),
        (57, 60),
        (60, 61),
        (61, 64),
        (64, 65),
        (70, 71),
        (72, 77),
        (87, 90),
        (108, 109),
        (109, 110),
        (113, 114),
        (117, 118),
        (118, 121),
        (121, 123),
        (123, 125),
        (125, 128),
        (187, 193),
        (248, 250),
        (250, 252),
        (252, 254),
        (264, 265),
        (265, 266),
        (268, 269),
        (299, 300),
        (301, 302),
        (307, 308),
        (308, 309),
        (322, 323),
        (323, 324),
        (324, 325),
        (325, 326),
        (327, 328),
        (328, 329),
        (382, 385),
        (500, 502),
        (502, 505),
        (505, 508),
        (508, 511),
        (511, 514),
        (514, 517),
        (519, 520),
        (619, 622),
        (625, 629),
        (633, 637),
        (641, 645),
        (649, 701),
        (1227, 1228),
        (1422, 1432),
        (1432, 1442),
        (1442, 1446),
        (1449, 1453),
        (1696, 1712),
        (1712, 1728),
        (1772, 1822),
        (2173, 2175),
        (2182, 2183),
        (2184, 2185),
        (2186, 2187),
        (2188, 2189),
        (2197, 2198),
        (2198, 2199),
        (2199, 2201),
        (2201, 2203),
        (2222, 2223),
        (2224, 2225),
        (2348, 2384),
        (2384, 2433),
        (2539, 2543),
        (2543, 2546),
        (2546, 2548),
        (2548, 2549),
        (2549, 2552),
        (2552, 2555),
        (2555, 2558),
        (2558, 2561),
        (2561, 2566),
        (2566, 2567),
        (2567, 2568),
        (2568, 2593),
        (2593, 2609),
        (2609, 2634),
        (2634, 2650),
        (2650, 2651),
        (2651, 2652),
        (2652, 2653),
        (2653, 2654),
        (2654, 2655),
        (2655, 2656),
        (2656, 2657),
        (2657, 2658),
        (2658, 2659),
        (2659, 2660),
        (2660, 2661),
        (2661, 2714),
        (2714, 2715),
        (2715, 2716),
        (2716, 2717),
        (2717, 2718),
        (2718, 2719),
        (2719, 2769),
        (2769, 2777),
        (2777, 2781),
        (2781, 2785),
        (2785, 2885),
        (2885, 2893),
        (2893, 2896),
        (2896, 2899),
        (2899, 2903),
        (2903, 2907),
        (2907, 2910),
        (2910, 2911),
        (2911, 2914),
        (2914, 2918),
        (2918, 2943),
        (2943, 2945),
        (2945, 2965),
        (2965, 3015),
        (3015, 3065),
        (3065, 3115),
        (3115, 3140),
        (3140, 3176),     
    ],
    names=[
        'rectype',
        'yearp',
        'samplep',
        'serialp',
        'pernum',
        'momloc',
        'stepmom',
        'momrule_hist',
        'poploc',
        'steppop',
        'poprule_hist',
        'sploc',
        'sprule_hist',
        'famsize',
        'nchild',
        'nchlt5',
        'famunit',
        'eldch',
        'yngch',
        'nsibs',
        'relate',
        'age',
        'sex',
        'race',
        'marst',
        'marrinyr',
        'bpl',
        'hispan',
        'spanname',
        'school',
        'lit',
        'labforce',
        'occ1950',
        'occscore',
        'sei',
        'ind1950',
        'realprop',
        'imppop',
        'impsp',
        'imprel',
        'qage',
        'qagemont',
        'qbpl',
        'qocc',
        'qrace',
        'qschool',
        'qsex',
        'racamind',
        'racasian',
        'racblk',
        'racpacis',
        'racother',
        'racwht',
        'agediff',
        'racesing',
        'probwht',
        'proboth',
        'probblk',
        'probapi',
        'probai',
        'hisprule',
        'presgl',
        'erscor50',
        'edscor50',
        'npboss50',
        'occstr',
        'isrelate',
        'slwt',
        'perwt',
        'birthyr',
        'occ',
        'namelast',
        'namefrst',
        'bplstr',
        'agemonth',
        'blind',
        'deaf',
        'idiotic',
        'insane',
        'crime',
        'pauper',
        'sursim',
        'impmom',
        'qlit',
        'qmarinyr',
        'histid',
        'pid',
        'us1850c_1000',
        'us1850c_1001',
        'us1850c_1002',
        'us1850c_1003',
        'us1850c_1004',
        'us1850c_1005',
        'us1850c_1006',
        'us1850c_1007',
        'us1850c_1008',
        'us1850c_1009',
        'us1850c_1010',
        'us1850c_1011',
        'us1850c_1012',
        'us1850c_1013',
        'us1850c_1014',
        'us1850c_1015',
        'us1850c_1016',
        'us1850c_1017',
        'us1850c_1018',
        'us1850c_1019',
        'us1850c_1020',
        'us1850c_1021',
        'us1850c_1022',
        'us1850c_1023',
        'us1850c_1024',
        'us1850c_1025',
        'us1850c_1026',
        'us1850c_1027',
        'us1850c_1028',
        'us1850c_1029',
        'us1850c_1030',
        'us1850c_1031',
        'us1850c_1032',
        'us1850c_1033',
        'us1850c_1034',
        'us1850c_1035',
        'us1850c_1036',
        'us1850c_1037',
        'us1850c_1038',
        'us1850c_1039',
        'us1850c_1040',
        'us1850c_1041',
        'us1850c_1042',
        'us1850c_1043',
        'us1850c_1044',
        'us1850c_1045',
        'us1850c_1046',
        'us1850c_1047',
        'us1850c_1048',
        'us1850c_1049',
        'us1850c_1050',
        'us1850c_1051',
        'us1850c_1052',
        'us1850c_1053',
    ],
    dtype={
        'rectype': object,
        'yearp': object,
        'samplep': object,
        'serialp': object,
        'pernum': object,
        'momloc': object,
        'stepmom': object,
        'momrule_hist': object,
        'poploc': object,
        'steppop': object,
        'poprule_hist': object,
        'sploc': object,
        'sprule_hist': object,
        'famsize': object,
        'nchild': object,
        'nchlt5': object,
        'famunit': object,
        'eldch': object,
        'yngch': object,
        'nsibs': object,
        'relate': object,
        'age': object,
        'sex': object,
        'race': object,
        'marst': object,
        'marrinyr': object,
        'bpl': object,
        'hispan': object,
        'spanname': object,
        'school': object,
        'lit': object,
        'labforce': object,
        'occ1950': object,
        'occscore': object,
        'sei': object,
        'ind1950': object,
        'realprop': object,
        'imppop': object,
        'impsp': object,
        'imprel': object,
        'qage': object,
        'qagemont': object,
        'qbpl': object,
        'qocc': object,
        'qrace': object,
        'qschool': object,
        'qsex': object,
        'racamind': object,
        'racasian': object,
        'racblk': object,
        'racpacis': object,
        'racother': object,
        'racwht': object,
        'agediff': object,
        'racesing': object,
        'probwht': object,
        'proboth': object,
        'probblk': object,
        'probapi': object,
        'probai': object,
        'hisprule': object,
        'presgl': object,
        'erscor50': object,
        'edscor50': object,
        'npboss50': object,
        'occstr': object,
        'isrelate': object,
        'slwt': object,
        'perwt': object,
        'birthyr': object,
        'occ': object,
        'namelast': object,
        'namefrst': object,
        'bplstr': object,
        'agemonth': object,
        'blind': object,
        'deaf': object,
        'idiotic': object,
        'insane': object,
        'crime': object,
        'pauper': object,
        'sursim': object,
        'impmom': object,
        'qlit': object,
        'qmarinyr': object,
        'histid': object,
        'pid': object,
        'us1850c_1000': object,
        'us1850c_1001': object,
        'us1850c_1002': object,
        'us1850c_1003': object,
        'us1850c_1004': object,
        'us1850c_1005': object,
        'us1850c_1006': object,
        'us1850c_1007': object,
        'us1850c_1008': object,
        'us1850c_1009': object,
        'us1850c_1010': object,
        'us1850c_1011': object,
        'us1850c_1012': object,
        'us1850c_1013': object,
        'us1850c_1014': object,
        'us1850c_1015': object,
        'us1850c_1016': object,
        'us1850c_1017': object,
        'us1850c_1018': object,
        'us1850c_1019': object,
        'us1850c_1020': object,
        'us1850c_1021': object,
        'us1850c_1022': object,
        'us1850c_1023': object,
        'us1850c_1024': object,
        'us1850c_1025': object,
        'us1850c_1026': object,
        'us1850c_1027': object,
        'us1850c_1028': object,
        'us1850c_1029': object,
        'us1850c_1030': object,
        'us1850c_1031': object,
        'us1850c_1032': object,
        'us1850c_1033': object,
        'us1850c_1034': object,
        'us1850c_1035': object,
        'us1850c_1036': object,
        'us1850c_1037': object,
        'us1850c_1038': object,
        'us1850c_1039': object,
        'us1850c_1040': object,
        'us1850c_1041': object,
        'us1850c_1042': object,
        'us1850c_1043': object,
        'us1850c_1044': object,
        'us1850c_1045': object,
        'us1850c_1046': object,
        'us1850c_1047': object,
        'us1850c_1048': object,
        'us1850c_1049': object,
        'us1850c_1050': object,
        'us1850c_1051': object,
        'us1850c_1052': object,
        'us1850c_1053': object,
    },
    usecols=['histid', 'namefrst', 'namelast']
)

In [ ]:
df.to_csv("/Volumes/External/1850_3-2", sep=',', index=False, encoding=False)

In [1]:
import pandas as pd

In [2]:
data = '/Volumes/External/1850_3-2/1850.csv'

In [4]:
lista = ['histid', 'namefrst', 'namelast']
chunksize = 12 ** 6

In [ ]:
file = pd.read_csv("file.dat", 
                     sep=',', index_col = None,
                     iterator = True, chunksize = 1000)

In [6]:

batch_no=1
for chunk in pd.read_csv(data, sep=',', usecols=lista, chunksize=chunksize):
    chunk.to_csv('chunk'+str(batch_no)+'.csv',index=False)
    batch_no+=1

In [7]:
data_loc = '/Users/bcornejocostas/Desktop/surfdrive/OneDrive_1_07-06-2021/IPUMS/Codes/chunk1.csv'

In [24]:
df = pd.read_csv(data_loc, sep=',')

In [13]:
df = df.dropna

In [17]:
df.head()

   namelast namefrst                                histid
0       NaN      NaN                                   NaN
1  LASSITER    NANCY  a5609a08-0156-452a-b3e3-184d1ce86c01
2  LASSITER    ANN E  5baf7c80-f4eb-4d1b-bb14-7c5e953f4116
3  LASSITER    WILEY  b9be7b78-c574-4520-a95a-bf75fdd3b33a
4       NaN      NaN                                   NaN

In [18]:
df.dropna(inplace=True)

In [19]:
df.head()

   namelast   namefrst                                histid
1  LASSITER      NANCY  a5609a08-0156-452a-b3e3-184d1ce86c01
2  LASSITER      ANN E  5baf7c80-f4eb-4d1b-bb14-7c5e953f4116
3  LASSITER      WILEY  b9be7b78-c574-4520-a95a-bf75fdd3b33a
5  LASSITER  CHARLES J  71341c11-6b0b-4ef9-9eb5-dcbdadeec5bb
6  LASSITER  ELIZABETH  2abf6c28-d644-49dc-912b-5cc2e7ea7cc1

In [25]:
df.shape

(2985984, 3)